@import '../../globals.scss';

.chipListContainer {
  width: 100%;
  overflow-x: auto;
  margin: 0.75rem 0;
  .chipListOverlay {
    display: flex;
    gap: 12px;
    width: fit-content;
    .chipItem {
      @include font-14-18-500;
      padding: 0.5rem 0.75rem;
      background-color: $white;
      border-radius: 12px;
      text-transform: capitalize;
    }
  }
}
