@import "../../index.scss";

.navigation-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  .navigation-item-list {
    display: inherit;
    gap: 8px;
    a {
      color: currentColor;
      text-decoration: none;
      text-transform: capitalize;
      padding: 4px 8px;
      border: 1px solid $black;
      border-radius: 12px;
      &:visited,
      &:active {
        color: currentColor;
      }
    }
  }
}
