.navigation-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 80px;

  .navigation-item-list {
    display: inherit;
    gap: 8px;
    a {
      text-decoration: none;
      &:visited,
      &:active {
        color: currentColor;
      }
    }
  }
}
