@import '~bootstrap/scss/bootstrap';
// Mixins
@mixin font-16-24-400 {
  font-feature-settings: 'liga' off, 'clig' off;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
}
@mixin font-14-18-400 {
  font-feature-settings: 'liga' off, 'clig' off;
  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
@mixin font-16-24-500 {
  font-feature-settings: 'liga' off, 'clig' off;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5rem;
}
@mixin font-14-18-500 {
  font-feature-settings: 'liga' off, 'clig' off;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.125rem;
}
@mixin font-16-24-700 {
  font-feature-settings: 'liga' off, 'clig' off;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
}
@mixin font-16-24-900 {
  font-feature-settings: 'liga' off, 'clig' off;
  font-weight: 900;
  font-size: 1rem;
  line-height: 1.5rem;
}
@mixin font-22-30-800 {
  font-feature-settings: 'liga' off, 'clig' off;
  font-weight: 800;
  font-size: 1.375rem;
  line-height: 1.875rem;
}
@mixin ellipse {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
// MIXIN END

// colors
$white: #ffffff;
$black: #161823;
$ghost-white: #f8f8fb;
$dim-gray: #6e6f76;
$white-smoke: #ededf0;
//END Colors
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  ::-webkit-scrollbar {
    height: 0;
    width: 0;
  }
}
.app-container {
  padding: 0 1rem;
  background-color: $ghost-white;
  overflow: hidden;
  .app-title {
    @include font-16-24-700;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    color: $black;
  }
}
