@import "../../index.scss";

.form-container {
  display: flex;
  flex-direction: column;
  width: min(80%, 500px);
  margin: auto;
  align-items: center;
  gap: 1rem;
  .form-input {
    height: 36px;
    border-radius: 12px;
    width: 90%;
    font-size: 1rem;
    line-height: 21px;
    padding: 6px 12px;
  }
  .form-submit-btn {
    width: 90%;
    padding: 0.75rem;
    background-color: rgb(41, 82, 227);
    border-radius: 9999px;
    border: none;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    color: $white;
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    &:hover {
      background-color: rgb(37, 70, 189);
    }
    &:disabled {
      border-color: $mistyrose;
    }
  }
}
