@import "../../index.scss";

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  .search-container {
    flex: 1;
    display: flex;
    justify-content: center;
    input {
      height: 42px;
      width: 90%;
      font-size: 1rem;
      line-height: 21px;
      padding: 6px 12px;
      background: rgb(39, 51, 89, 0.4);
      border-radius: 16px;
      box-shadow: 0 4px 30px #0003;
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
      color: rgb(255 255 255);
      border: 1px solid rgba(0, 0, 0, 0.3);
      &:focus {
        outline: 2px solid transparent;
        outline-offset: 2px;
        box-shadow: 0 0 0 0 0px var(#fff), 0 0 0 0 1px var(#2563eb), 0 0 #0000;
        border-color: #2563eb;
      }
    }
  }
  .result-container {
    flex: 1;
    display: flex;
    margin-top: 1rem;
    .result-list {
      margin: 0;
      padding: 0;
      width: 100%;
      max-height: 60vh;
      overflow: auto;
      .result-item {
        box-sizing: border-box;
        display: flex;
        align-items: center;
        list-style: none;
        width: 100%;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 18px;
        border: 1px solid $white_smoke;
        margin: 6px 0;
        color: $white_smoke;
        a {
          text-decoration: none;
          display: flex;
          flex-direction: column;
          flex: 1;
          color: currentColor;
          &:visited {
            color: currentColor;
          }
          .title {
            font-weight: bold;
          }
          .tag-list {
            font-style: italic;
          }
        }
        .result-delete-btn {
          background-color: inherit;
          border: 1px solid $tomato_red;
          padding: 8px;
          border-radius: 12px;
          color: currentColor;
          cursor: pointer;
          &:disabled {
            background-color: $silver;
            border-color: $silver;
            color: $dim_gray;
            cursor: auto;
          }
        }
      }
    }
  }
}
