@import '../../globals.scss';

.cardContainer {
  background-color: $white;
  width: fit-content;
  border-radius: 12px;
  overflow: hidden;
  width: 240px;
  img {
    height: 140px;
    object-fit: cover;
  }
  article {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 4px;
    .contentTitle {
      @include font-16-24-700;
      color: $black;
    }
    .contentInfo {
      @include font-16-24-400;
      @include ellipse;
      color: $dim-gray;
      width: calc(100% - 10px);
    }
    .contentDetails {
      display: none;
      color: $dim-gray;
    }
  }
}
.smallCard {
  width: 200px;
  img {
    height: 180px;
    width: 100%;
  }
  article {
    .contentInfo {
      display: none;
    }
    .contentDetails {
      display: flex;
      align-self: stretch;
      flex-direction: column;
      gap: 6px;
      .ratingDetails {
        @include font-14-18-400;
        display: inherit;
        gap: 4px;
        align-items: center;
        width: 100%;
      }
      .discountDetails {
        @include font-14-18-400;
        padding: 0.2rem 0.65rem;
        border-radius: 16px;
        width: fit-content;
        background-color: $mistyrose;
        color: $tomato-red;
      }
      .priceDetails {
        display: inherit;
        gap: 4px;
        align-items: baseline;
        p {
          margin: 0;
        }
        .offerPrice {
          @include font-16-24-700;
          font-weight: 600;
          font-size: 22px;
          color: $tomato-red;
        }
        .actualPrice {
          @include font-14-18-500;
          color: $silver;
          text-decoration: line-through;
        }
      }
    }
  }
}
