body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
input {
  &:focus-visible {
    outline: none;
  }
}
$white: #ffffff;
$black: #161823;
$ghost_white: #f8f8fb;
$dim_gray: #6e6f76;
$white_smoke: #ededf0;
$tomato_red: #ff623e;
$mistyrose: #ffe7e1;
$silver: #b8b8c0;
