@import '../../globals.scss';

.tabContainer {
  @include font-16-24-500;
  display: flex;
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  .tabItem {
    list-style: none;
    padding: 1rem;
    border-bottom: 2px solid transparent;
    box-sizing: border-box;
    color: $dim-gray;
    &:hover {
      border-color: currentColor;
    }
    &.active {
      color: $black;
    }
  }
}
